.green-bg{
	background-color: green;
}
.grey-bg{
	background-color: rgb(192,192,192);
}
.pad-t-b-10{
	padding: 10px 0 10px 0;
}
.menu{
	height: 50px;
}
div .label{
	margin: 5px 0;
	height: 36px;
}
a{
	color:grey;
}
nav div div a{
	color:white;
	margin: 0 10px ;

}